.header_boxShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ant-carousel {
  background-color: gainsboro !important;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: black !important;
}

.ant-carousel .slick-dots li button {
  background-color: rgb(114, 113, 113) !important;
}

.categories .category .category_img_div {
  min-height: 180px;
  max-height: 180px;
  min-width: 180px;
  max-width: 180px;
}

.categories .category:hover .category_img_div {
  box-shadow: 0 0 6px 0 black;
  background-color: rgb(209 213 219);
}

.categories .category:hover > h6 {
  color: rgb(0, 0, 0);
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none !important;
}
